.page{
    max-width: 1800px;
}

.header{
    height: 100px;
    width: 100%;
    background-color: rgb(16, 248, 86);
    
}


.inner-header{
    width: 100%;
}

.logo-container{
    width: 30%;
    color: #6b1d1d;
    padding: 10px 80px;
    float: left
}

.navigation{
    float: right;
    height: 100%;
    padding: 40px 80px;
}

p{
    text-indent: 20px;
    text-align:justify;
}

ul{
    list-style: none;
    margin: 0;
    padding: 40px;
}


.navigation a{
    text-decoration: none;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 5px;
    background-color: rgb(16, 248, 86);
}

a{
    font-size: 20px;
    padding: 30px;
    color: #060606;
    text-decoration: none;
}

a:hover{
    color: #ff6048;
    text-decoration: none;
}


.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: #a91d1d;
    padding: 10px;
}

.navigation li:hover{
    color: #ffe;
    background-color: rgb(27, 100, 109);
}

li{
    display: inline;
}


.left {
    float: left;
    margin: 0 1em 1em 0;
  }
  
  .content{
    font-size: 16px;
    height: 450px;
}

.contacts a{
    text-decoration: none;
    padding: 0px 5px;
}

.contacts a li{
    font-size: 20px;
    color: #453939;
    padding: 10px;
    margin-left: 450px;
    width: 100px;
    text-align:center;
    list-style-type: none;
}

.contacts li:hover{
    color: #ffe;
    background-color: gray;
}

 

